.footer {
    height: 50px;
    background-color:white ;
    position: sticky;
    align-items: center;
    font-family:"Josein Sans", sans-serif ;
    z-index:999 ;
    text-align: center;
    background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), 
    url("https://images.pexels.com/photos/414660/pexels-photo-414660.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    object-fit: cover;
    border-radius: 20px;
    margin-left: 100px ;
    margin-right: 100px;
    margin-bottom: 10px;

    padding: 30px;

}